<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Timer Settings -->
    <add key="UseRunEveryMinute" value="true"/>
    <add key="RunEveryMinute" value="1"/>
    <add key="UseRunEverydayAtTime" value="false"/>
    <add key="RunEverydayAtTime" value="23:00:00"/>
  </appSettings>
</configuration>